<section class="py-10 my-auto">
  <div class="lg:w-[80%] md:w-[90%] w-[96%] mx-auto flex gap-4">
    <div class="lg:w-[88%] sm:w-[88%] w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center">
      <!-- Profile Section -->
      <div class="">
        <h1 class="lg:text-3xl md:text-2xl text-xl font-serif font-extrabold mb-2 dark:text-black">
          Profile
        </h1>
        <h2 class=" text-sm mb-4 dark:text-gray-400">Update Profile</h2>
        <form [formGroup]="form" >
          <!-- Profile Image and Cover Image Section -->
          <div class="w-full rounded-sm bg-[url('https://images.unsplash.com/photo-1449844908441-8829872d2607?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw2fHxob21lfGVufDB8MHx8fDE3MTA0MDE1NDZ8MA&ixlib=rb-4.0.3&q=80&w=1080')] bg-cover bg-center bg-no-repeat items-center">
            <!-- Profile Image -->
            <div class="mx-auto flex justify-center w-[141px] h-[141px] rounded-full bg-[url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw4fHxwcm9maWxlfGVufDB8MHx8fDE3MTEwMDM0MjN8MA&ixlib=rb-4.0.3&q=80&w=1080')] bg-cover bg-center bg-no-repeat">
              <div class="bg-white/90 rounded-full w-6 h-6 text-center ml-28 mt-4">
                <input type="file" formControlName="photo" accept="image/*" name="profile" id="upload_profile" hidden required />
                <label for="upload_profile">
                  <svg data-slot="icon" class="w-6 h-5 text-blue-700" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z"></path>
                  </svg>
                </label>
              </div>
            </div>
          </div>

          <h2 class="text-center mt-1 font-semibold dark:text-gray-500">Upload Profile and Cover Image</h2>

          <!-- Name and Email Inputs -->
          <div class="flex flex-col lg:flex-row gap-2 justify-center w-full">
            <div class="w-full mb-4 mt-6">
              <label for="" class="mb-2 dark:text-gray-500">Full Name</label>
              <input  [value]="user?.name" type="text" class="mt-2 p-4 w-full border-2 rounded-lg" placeholder="Full Name" formControlName="name" />
              <p *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-red-500">
                Name is required
              </p>
            </div>
            <div class="w-full mb-4 lg:mt-6">
              <label for="" class="dark:text-gray-500">Email</label>
              <input  [value]="user?.email" formControlName="email" type="text" class="mt-2 p-4 w-full border-2 rounded-lg" placeholder="Email" />
              <p  *ngIf="form.get('email')?.invalid && form.get('name')?.touched" class="text-red-500">
                Email is required
              </p>
            </div>
            <div class="w-full mb-4 lg:mt-6">
              <label for="" class="dark:text-gray-500">Password</label>
              <input formControlName="password" type="text" class="mt-2 p-4 w-full border-2 rounded-lg" placeholder="********" />
              <p *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-red-500">
                Password must be at least 8 characters
              </p>
            </div>
          </div>

          <!-- Phone, Address, City Inputs -->
          <div class="flex flex-col lg:flex-row gap-2 justify-center w-full">
            <div class="w-full mb-4 mt-6">
              <label for="" class="mb-2 dark:text-gray-500">Phone Number</label>
              <input  [value]="user?.phone" formControlName="phone" type="text" class="mt-2 p-4 w-full border-2 rounded-lg" placeholder="Phone Number" />
              <p *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="text-red-500">
                Phone number is required
              </p>
            </div>
            <div class="w-full mb-4 lg:mt-6">
              <label for="" class="dark:text-gray-500">Address</label>
              <input  [value]="user?.address" formControlName="address" type="text" class="mt-2 p-4 w-full border-2 rounded-lg" placeholder="Address" />
              <p *ngIf="form.get('address')?.invalid && form.get('address')?.touched" class="text-red-500">
                Address is reuired
              </p>
            </div>
            <div class="w-full mb-4 lg:mt-6">
              <label for="" class="dark:text-gray-500">City</label>
              <input  formControlName="city" type="text" class="mt-2 p-4 w-full border-2 rounded-lg" placeholder="City" />
              <p *ngIf="form.get('city')?.invalid && form.get('city')?.touched" class="text-red-500">
                City is required
              </p>
            </div>
          </div>

          <!-- Date of Birth Input -->
          <div class="w-full mb-4 mt-6">
            <label for="" class="mb-2 dark:text-gray-500">Date of Birth</label>
            <input type="date" class="text-grey p-4 w-full border-2 rounded-lg" formControlName="birthDate" />
            <p *ngIf="form.get('birthDate')?.invalid && form.get('birthDate')?.touched" class="text-red-500">
              Date of Birth is required
            </p>
          </div>

          <!-- Submit Button -->
          <div class="w-full rounded-lg bg-blue-500 mt-4 text-white text-lg font-semibold">
            <button type="submit" class="w-full p-4">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
